* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    height: 100%;
    position: relative;
}

.main {
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.input-holder{
    margin: auto;
    text-align: center;
    border-radius: 4px;
    height: 54px;
    width: 50%;
    min-width: 600px;
    border: 2px solid rgba(233, 20, 20, 0.9); 
    position: relative;
}

#input {
    display: block;
    float: left;
    font-size: 24px;
    height: 100%;
    border: none;
    width: 83%;
    padding-left: 20px;
}

input::placeholder {
    color: #ccc
}

#input:focus {
    outline: none;
}

#solveBtn {
    height: 50px;
    background-color: rgba(233, 20, 20, 0.9);
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    line-height: 50px;
    width: 16%;
    font-size: 22px;
}

#solveBtn:hover{
    background-color: rgba(233, 20, 20, 0.7);
    transition: background-color 0.3s ease-in-out;
}

#polynomial {
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
    color: #333;
}

#result{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #333;
}

#result b{
    display: inline-block;
    background-color: aquamarine;
    margin: 0 10px;
    padding: 5px 12px;
    border-radius: 8px;
}

#historyList{
    position: absolute;
    width: 84%;
    top: 50px;
    border: 2px solid rgba(233, 20, 20, 0.8);
    box-sizing: content-box;
    /* border-top: none; */
    background-color: #fff;
    left: -2px;
    display: none;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
}

.history-item{
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #ccc;
    font-size: 26px;
    color: #888;
    text-align: left;
    padding-left: 20px;
}