<style>
    .start-btn {
        height: 200px;
        line-height: 200px;
        text-align: center;
        width: 200px;
        border-radius: 100px;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: rgb(255, 7, 139);
        text-decoration: none;
        color: white;
        font-size: 60px;
        transform: rotateX(45deg);
        box-shadow: 0 0 100px rgb(255, 7, 139);
    }
</style>

<a class="start-btn" href="/taobaoIndexImgs">Start</a>