<style>
    li {
        display: inline-block;
        margin: 10px;
        
    }

</style>

<ul>
    {{#each srcs}}
    <li>
        <img src="{{src}}">
    </li>
    {{/each}}
</ul>
<h2>
    Or, we can get what bikes sell on JD.
    <a href="/jdBikesImgs">Go Jd</a>
</h2>